/* Centered text */

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bolder;
    display: none;
}

.img-overlay {
    margin-bottom: 32px;
    max-width: 100vw;
    width: 100vw;
}

#header-img {
    max-width: 100vw;
    width: 100vw;
}

.profile {
    max-width: 15%;
    max-height: 15%;
    border-radius: 100%;
}

.img-caption {
    text-align: center;
    color: rgb(143, 189, 65);
    margin-bottom: 16px;
}

.img-caption-large {
    color: rgb(143, 189, 65);
    font-size: xx-large;
    margin-bottom: 16px;
    width: auto;
}

.img-hr {
    width: 15%;
    /* text-align: center; */
    border: solid 1px rgb(143, 189, 65);
    margin-bottom: 16px;
    position: sticky;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-profile {
    border-radius: 5%;
    max-width: 256px;
    width: 100%;
}

.project-desc {
    max-width: inherit;
    position: sticky;
}

.gallery-img {
    height: max-content;
    max-height: inherit;
}

.gallery-container {
    /* border: solid 1px black; */
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

body {
    overflow-x: hidden;
}