.nav-link {
    color: black !important;
}

a:hover {
    color: red !important;
}

.nav-link:hover {
    background-color: rgba(34,36,38,.1) !important;
}

.lbl {
    margin-right: 50px !important; 
}

.fluid-input {
    width: 100%;
}

.fluid-height {
    margin-top: 3px !important;
    height: calc(99vh - 54px) !important;
    max-height: calc(99vh - 54px) !important;
}

.divider-header {
    background-color: rgba(85, 121, 155, 0.541);
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
}

body {
    padding-top: 54px;
}

.img-preview {
    margin-bottom: 10px;
}

.clickable-icon:hover {
    color: red;
    cursor: pointer;
}